$base-font-size:50px;
@mixin max700{
    @media(max-width:700px){
     @content;
    }  
}

body {
    background: red;
    font-size:$base-font-size;
}
@include max700{
    p{
        width:50%;
    }
};
@import 'block/*.scss';
