$base-font-size:50px;
@import "node_modules/bootstrap/scss/bootstrap";
@mixin max700{
    @media(max-width:700px){
     @content;
    }  
}

body {
    background: red;
    font-size:$base-font-size;
}
.background-container{
    background-image:url('../img/124107.jpg')
}
@include max700{
    p{
        width:50%;
    }
};
@import 'block/*.scss';
